
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000e12;
  color: #fdfdfd;
}

#white{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 20;
  Opacity: 0;
}
#blue{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 20;
  Opacity: 0;
}
#green{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 20;
  Opacity: 0;
}
#red{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 20;
  Opacity: 0;
}
#rainbow{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 20;
  Opacity: 0;
}

#bonusdisplay{
	position: absolute;
	text-align:center;
	margin: auto;
  z-index: 15;
  Opacity: 0;
}
