.main{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	width:1000px;
	height: 740px;
	max-width: 100%;
}

#bgA{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	z-index:1;
}

#bgB{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	z-index:2;
}

#battle_result{
	position: absolute;
	width: 100%;
	top: 200px;
	height: 300px;
	text-align: center;
	z-index: 1000;
	background-color: rgb(0, 0, 0);
	opacity:0;
    color:rgb(255, 255, 255);
	font-size: 34px;
    object-fit: cover;
}







